Repository Henze-Digital/HenDi-ODD: changes, and which GitLab CI jobs are due for each by the changed paths.
All: biblio-build, biblio-test, biblio-save, places-build

biblio-build:
  stage: build
  script:
  - ant biblio

biblio-test:
  stage: test
  needs:
  - job: biblio-build
  script:
  - ant check-rng-output -DselectedSchema=hwhBiblio

biblio-save:
  before_script:
  - git config user.email "${GITLAB_USER_EMAIL}"
  - git config user.name "${GITLAB_USER_NAME}"
  - git remote set-url origin https://${HENDI_ODD_CI_TOKEN_NAME}:${HENDI_ODD_CI_TOKEN}@git.uni-paderborn.de/vife/henze-digital/HenDi-ODD.git
  stage: save
  needs:
  - job: biblio-test
  script:
  ...

places-build:
  stage: build
  script:
  - ant places

add only
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

test ci if not all jobs run
  .gitlab-ci.yml
Due: none

try another way
  .gitlab-ci.yml
Due: none

add random space for test
  src/Specs/common-specs.odd.xml
Due: biblio-build, biblio-test, biblio-save, places-build

Revert "add random space for test"
  src/Specs/common-specs.odd.xml
Due: biblio-build, biblio-test, biblio-save, places-build

auto compile schema biblio-deploy
  guidelines-html/guidelines-de-hwhBiblio.html
  schema/de/hwhBiblio.isosch
  schema/de/hwhBiblio.rng
Due: none

update ident for schemas
  build.xml
  src/Specs/schemaSpec-biblio.odd.xml
  src/Specs/schemaSpec-documents.odd.xml
  src/Specs/schemaSpec-letters.odd.xml
  src/Specs/schemaSpec-news.odd.xml
  src/Specs/schemaSpec-orgs.odd.xml
  src/Specs/schemaSpec-persons.odd.xml
  src/Specs/schemaSpec-places.odd.xml
  src/Specs/schemaSpec-thematicCommentaries.odd.xml
  src/Specs/schemaSpec-var.odd.xml
  src/Specs/schemaSpec-worksMEI.odd.xml
  src/Specs/schemaSpec-worksTEI.odd.xml
  src/Specs/schemaSpec-writings.odd.xml
Due: biblio-build, biblio-test, biblio-save, places-build

add second target
  .gitlab-ci.yml
Due: none

add all other targets
  .gitlab-ci.yml
Due: none

add text
  .gitlab-ci.yml
Due: none

Revert "Revert "add random space for test""
  src/Specs/common-specs.odd.xml
Due: biblio-build, biblio-test, biblio-save, places-build

add target writings
  build.xml
Due: none

rename schema file names
  build.xml
Due: none

fix path to MEI source
  src/Specs/schemaSpec-worksMEI.odd.xml
Due: none

Revert "Revert "Revert "add random space for test"""
  src/Specs/common-specs.odd.xml
Due: biblio-build, biblio-test, biblio-save, places-build

silly space for test
  src/Specs/schemaSpec-biblio.odd.xml
Due: biblio-build, biblio-test, biblio-save

Revert "silly space for test"
  src/Specs/schemaSpec-biblio.odd.xml
Due: biblio-build, biblio-test, biblio-save

Revert "Revert "silly space for test""
  src/Specs/schemaSpec-biblio.odd.xml
Due: biblio-build, biblio-test, biblio-save

auto compile schema biblio
  compiled-ODD/guidelines-de-hendiBiblio.compiled.xml
  guidelines-html/guidelines-de-hendiBiblio.html
  schema/de/hendiBiblio.isosch
  schema/de/hendiBiblio.rng
Due: none

update ant targets
  build.xml
Due: none

Revert "Revert "Revert "silly space for test"""
  src/Specs/schemaSpec-biblio.odd.xml
Due: biblio-build, biblio-test, biblio-save

hendiBiblio test file
  src/Specs/schemaSpec-hendiBiblio.odd.xml
Due: none

hendiBiblio auto compile
  guidelines-html/guidelines-de-hendiBiblio.html
  schema/de/hendiBiblio.isosch
  schema/de/hendiBiblio.rng
Due: none

Path conditions:
  biblio-build: any of: src/Specs/schemaSpec-biblio.odd.xml, src/Specs/common-specs.odd.xml
  biblio-test: any of: src/Specs/schemaSpec-biblio.odd.xml, src/Specs/common-specs.odd.xml
  biblio-save: any of: src/Specs/schemaSpec-biblio.odd.xml, src/Specs/common-specs.odd.xml
  places-build: any of: src/Specs/schemaSpec-places.odd.xml, src/Specs/common-specs.odd.xml
