Repository Henze-Digital/HenDi-ODD: changes, and which GitLab CI jobs are due for each by the changed paths.
All: biblio-build, biblio-test, biblio-deploy, documents-build, documents-test, documents-deploy, letters-build, letters-test, letters-deploy, news-build, news-test, news-deploy, orgs-build, orgs-test, orgs-deploy, persons-build, persons-test, persons-deploy, places-build, places-test, places-deploy, thematicCommentaries-build, thematicCommentaries-test, thematicCommentaries-deploy, var-build, var-test, var-deploy, worksAV-build, worksAV-test, worksAV-deploy, worksMEI-build, worksMEI-test, worksMEI-deploy, worksTEI-build, worksTEI-test, worksTEI-deploy, writings-build, writings-test, writings-deploy, text-deploy

Path conditions:
  biblio-build: any of: src/Specs/common-specs.odd.xml
  biblio-test: any of: src/Specs/common-specs.odd.xml
  biblio-deploy: any of: src/Specs/common-specs.odd.xml
  documents-build: any of: src/Specs/common-specs.odd.xml
  documents-test: any of: src/Specs/common-specs.odd.xml
  documents-deploy: any of: src/Specs/common-specs.odd.xml
  letters-build: any of: src/Specs/common-specs.odd.xml
  letters-test: any of: src/Specs/common-specs.odd.xml
  letters-deploy: any of: src/Specs/common-specs.odd.xml
  news-build: any of: src/Specs/common-specs.odd.xml
  news-test: any of: src/Specs/common-specs.odd.xml
  news-deploy: any of: src/Specs/common-specs.odd.xml
  orgs-build: any of: src/Specs/common-specs.odd.xml
  orgs-test: any of: src/Specs/common-specs.odd.xml
  orgs-deploy: any of: src/Specs/common-specs.odd.xml
  persons-build: any of: src/Specs/common-specs.odd.xml
  persons-test: any of: src/Specs/common-specs.odd.xml
  persons-deploy: any of: src/Specs/common-specs.odd.xml
  places-build: any of: src/Specs/common-specs.odd.xml
  places-test: any of: src/Specs/common-specs.odd.xml
  places-deploy: any of: src/Specs/common-specs.odd.xml
  thematicCommentaries-build: any of: src/Specs/common-specs.odd.xml
  thematicCommentaries-test: any of: src/Specs/common-specs.odd.xml
  thematicCommentaries-deploy: any of: src/Specs/common-specs.odd.xml
  var-build: any of: src/Specs/common-specs.odd.xml
  var-test: any of: src/Specs/common-specs.odd.xml
  var-deploy: any of: src/Specs/common-specs.odd.xml
  worksAV-build: any of: src/Specs/common-specs.odd.xml
  worksAV-test: any of: src/Specs/common-specs.odd.xml
  worksAV-deploy: any of: src/Specs/common-specs.odd.xml
  worksMEI-build: any of: src/Specs/common-specs.odd.xml
  worksMEI-test: any of: src/Specs/common-specs.odd.xml
  worksMEI-deploy: any of: src/Specs/common-specs.odd.xml
  worksTEI-build: any of: src/Specs/common-specs.odd.xml
  worksTEI-test: any of: src/Specs/common-specs.odd.xml
  worksTEI-deploy: any of: src/Specs/common-specs.odd.xml
  writings-build: any of: src/Specs/common-specs.odd.xml
  writings-test: any of: src/Specs/common-specs.odd.xml
  writings-deploy: any of: src/Specs/common-specs.odd.xml
  text-deploy: any of: src/Guidelines/*.xml, src/Guidelines/de/*.xml

add resource group
  .gitlab-ci.yml
Due: none

resolve conflicts
  compiled-ODD/guidelines-de-hendiBiblio.compiled.xml
  guidelines-html/guidelines-de-hendiBiblio.html
  schema/de/hendiBiblio.isosch
  schema/de/hendiBiblio.rng
Due: none

Revert "Revert "Revert "Revert "silly space for test""""
  src/Specs/schemaSpec-biblio.odd.xml
Due: none

test
  src/Specs/schemaSpec-hendiBiblio.odd.xml
  src/Specs/schemaSpec-hendiDocuments.odd.xml
Due: none

hendiDocuments auto compile
  compiled-ODD/guidelines-de-hendiDocuments.compiled.xml
  schema/de/hendiDocuments.isosch
  schema/de/hendiDocuments.rng
Due: none

hendiBiblio auto compile
  compiled-ODD/guidelines-de-hendiBiblio.compiled.xml
  guidelines-html/guidelines-de-hendiBiblio.html
  schema/de/hendiBiblio.isosch
  schema/de/hendiBiblio.rng
Due: none

rename specs files
  src/Specs/schemaSpec-biblio.odd.xml
  src/Specs/schemaSpec-documents.odd.xml
  src/Specs/schemaSpec-hendiLetters.odd.xml
  src/Specs/schemaSpec-hendiNews.odd.xml
  src/Specs/schemaSpec-hendiOrgs.odd.xml
  src/Specs/schemaSpec-hendiPersons.odd.xml
  src/Specs/schemaSpec-hendiPlaces.odd.xml
  src/Specs/schemaSpec-hendiThematicCommentaries.odd.xml
  src/Specs/schemaSpec-hendiVar.odd.xml
  src/Specs/schemaSpec-hendiWorksMEI.odd.xml
  src/Specs/schemaSpec-hendiWorksTEI.odd.xml
  src/Specs/schemaSpec-hendiWritings.odd.xml
Due: none

update paths
  src/Guidelines/guidelines-de.xml
Due: text-deploy

comment out writer specifics
  src/Guidelines/guidelines-de-text.xml
Due: text-deploy

hendiLetters auto compile
  compiled-ODD/guidelines-de-hendiLetters.compiled.xml
  guidelines-html/guidelines-de-hendiLetters.html
  schema/de/hendiLetters.isosch
  schema/de/hendiLetters.rng
Due: none

hendiNews auto compile
  compiled-ODD/guidelines-de-hendiNews.compiled.xml
  guidelines-html/guidelines-de-hendiNews.html
  schema/de/hendiNews.isosch
  schema/de/hendiNews.rng
Due: none

hendiOrgs auto compile
  compiled-ODD/guidelines-de-hendiOrgs.compiled.xml
  guidelines-html/guidelines-de-hendiOrgs.html
  schema/de/hendiOrgs.isosch
  schema/de/hendiOrgs.rng
Due: none

hendiPersons auto compile
  compiled-ODD/guidelines-de-hendiPersons.compiled.xml
  schema/de/hendiPersons.isosch
  schema/de/hendiPersons.rng
Due: none

hendiPlaces auto compile
  compiled-ODD/guidelines-de-hendiPlaces.compiled.xml
  guidelines-html/guidelines-de-hendiPlaces.html
  schema/de/hendiPlaces.isosch
  schema/de/hendiPlaces.rng
Due: none

hendiThematicCommentaries auto compile
  compiled-ODD/guidelines-de-hendiThematicCommentaries.compiled.xml
  guidelines-html/guidelines-de-hendiThematicCommentaries.html
  schema/de/hendiThematicCommentaries.isosch
  schema/de/hendiThematicCommentaries.rng
Due: none

hendiVar auto compile
  compiled-ODD/guidelines-de-hendiVar.compiled.xml
  schema/de/hendiVar.isosch
  schema/de/hendiVar.rng
Due: none

hendiWorksMEI auto compile
  compiled-ODD/guidelines-de-hendiWorksMEI.compiled.xml
  schema/de/hendiWorksMEI.isosch
  schema/de/hendiWorksMEI.rng
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update schematron rule on notesStmt
  src/Specs/common-specs.odd.xml
Due: biblio-build, biblio-test, biblio-deploy, documents-build, documents-test, documents-deploy, letters-build, letters-test, letters-deploy, news-build, news-test, news-deploy, orgs-build, orgs-test, orgs-deploy, persons-build, persons-test, persons-deploy, places-build, places-test, places-deploy, thematicCommentaries-build, thematicCommentaries-test, thematicCommentaries-deploy, var-build, var-test, var-deploy, worksAV-build, worksAV-test, worksAV-deploy, worksMEI-build, worksMEI-test, worksMEI-deploy, worksTEI-build, worksTEI-test, worksTEI-deploy, writings-build, writings-test, writings-deploy

fix duplicate attribute
  src/Specs/common-specs.odd.xml
Due: biblio-build, biblio-test, biblio-deploy, documents-build, documents-test, documents-deploy, letters-build, letters-test, letters-deploy, news-build, news-test, news-deploy, orgs-build, orgs-test, orgs-deploy, persons-build, persons-test, persons-deploy, places-build, places-test, places-deploy, thematicCommentaries-build, thematicCommentaries-test, thematicCommentaries-deploy, var-build, var-test, var-deploy, worksAV-build, worksAV-test, worksAV-deploy, worksMEI-build, worksMEI-test, worksMEI-deploy, worksTEI-build, worksTEI-test, worksTEI-deploy, writings-build, writings-test, writings-deploy

fix schematron rule for notesStmt
  src/Specs/common-specs.odd.xml
Due: biblio-build, biblio-test, biblio-deploy, documents-build, documents-test, documents-deploy, letters-build, letters-test, letters-deploy, news-build, news-test, news-deploy, orgs-build, orgs-test, orgs-deploy, persons-build, persons-test, persons-deploy, places-build, places-test, places-deploy, thematicCommentaries-build, thematicCommentaries-test, thematicCommentaries-deploy, var-build, var-test, var-deploy, worksAV-build, worksAV-test, worksAV-deploy, worksMEI-build, worksMEI-test, worksMEI-deploy, worksTEI-build, worksTEI-test, worksTEI-deploy, writings-build, writings-test, writings-deploy

text auto compile
  compiled-ODD/guidelines-de-text.compiled.xml
Due: none

hendiPersons auto compile
  schema/de/hendiPersons.isosch
  schema/de/hendiPersons.rng
Due: none

hendiOrgs auto compile
  guidelines-html/guidelines-de-hendiOrgs.html
  schema/de/hendiOrgs.isosch
  schema/de/hendiOrgs.rng
Due: none

hendiNews auto compile
  guidelines-html/guidelines-de-hendiNews.html
  schema/de/hendiNews.isosch
  schema/de/hendiNews.rng
Due: none

hendiPlaces auto compile
  guidelines-html/guidelines-de-hendiPlaces.html
  schema/de/hendiPlaces.isosch
  schema/de/hendiPlaces.rng
Due: none

add values for `rs/@type`
  src/Specs/common-specs.odd.xml
Due: biblio-build, biblio-test, biblio-deploy, documents-build, documents-test, documents-deploy, letters-build, letters-test, letters-deploy, news-build, news-test, news-deploy, orgs-build, orgs-test, orgs-deploy, persons-build, persons-test, persons-deploy, places-build, places-test, places-deploy, thematicCommentaries-build, thematicCommentaries-test, thematicCommentaries-deploy, var-build, var-test, var-deploy, worksAV-build, worksAV-test, worksAV-deploy, worksMEI-build, worksMEI-test, worksMEI-deploy, worksTEI-build, worksTEI-test, worksTEI-deploy, writings-build, writings-test, writings-deploy

oder common input alphabetically
  src/Specs/schemaSpec-hendiPersons.odd.xml
Due: none

move constraint to common-specs
  src/Specs/common-specs.odd.xml
  src/Specs/schemaSpec-hendiPersons.odd.xml
Due: biblio-build, biblio-test, biblio-deploy, documents-build, documents-test, documents-deploy, letters-build, letters-test, letters-deploy, news-build, news-test, news-deploy, orgs-build, orgs-test, orgs-deploy, persons-build, persons-test, persons-deploy, places-build, places-test, places-deploy, thematicCommentaries-build, thematicCommentaries-test, thematicCommentaries-deploy, var-build, var-test, var-deploy, worksAV-build, worksAV-test, worksAV-deploy, worksMEI-build, worksMEI-test, worksMEI-deploy, worksTEI-build, worksTEI-test, worksTEI-deploy, writings-build, writings-test, writings-deploy
